@model HB5.Models.P1
@{
    ViewBag.Title = "Просмотр совершонной операции";
}
<div class="container">
    <dl class="dl-horizontal">
        <dt>Имя</dt>
        <dd>@Model.Name</dd>
        <dt>Действие</dt>
        <dd>@Model.NameAct</dd>
        <dt>Процент</dt>
        <dd>@Model.Data</dd>
        <dt>Сумма</dt>
        <dd>@Model.Sum</dd>
        <dt>Коментарий</dt>
        <dd>@Model.Coment</dd>
    </dl>
</div>