@model HB5.VM.HomeVM.OperVM
@{
    ViewBag.Title = "Опер";
}
<div class="container">
    <div class="row">
        <div class="col-4">
            @if (Model.Id != 0)
            {
                <a asp-controller="home" asp-action="OperAdd" asp-route-id="@Model.Id">Добавить операцию</a>
            }
            else
            {
                <a asp-controller="home" asp-action="OperAdd">Добавить операцию</a>
            }
            <h5>Поиск</h5>
            <form asp-action="OperHome" asp-controller="home">
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Название</label>
                    <input type="text" asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="NameAct" class="control-label">Название плана</label>
                    <input type="text" asp-for="NameAct" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Период актуальности операции</label>
                </div>
                <div class="form-group row">
                    <label class="col-form-label" asp-for="StData">от</label>
                    <div class="col-5">
                        <input type="datetime-local" asp-for="StData" class="form-control" value="2000-01-01T00:00">
                    </div>
                    <label class="col-form-label" asp-for="FinData">до</label>
                    <div class="col-5">
                        <input type="datetime-local" asp-for="FinData" class="form-control" value="2000-01-01T00:00">
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NameAct" class="control-label">Действие</label>
                    <select asp-for="NameAct" class="form-control">
                        <option value="расход">расход</option>
                        <option value="доход">доход</option>
                        <option selected value="ноль"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Планируемая сумма</label>
                </div>
                <div class="form-group row">
                    <label class="col-form-label" asp-for="minsum">от</label>
                    <div class="col">
                        <input type="number" asp-for="minsum" class="form-control" value="0">
                    </div>
                    <label class="col-form-label" asp-for="maxsum">до</label>
                    <div class="col">
                        <input type="number" asp-for="maxsum" class="form-control" value="0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Реальная сумма</label>
                </div>
                <div class="form-group row">
                    <label class="col-form-label" asp-for="minsump">от</label>
                    <div class="col">
                        <input type="number" asp-for="minsump" class="form-control" value="0">
                    </div>
                    <label class="col-form-label" asp-for="maxsump">до</label>
                    <div class="col">
                        <input type="number" asp-for="maxsump" class="form-control" value="0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Процент</label>
                </div>
                <div class="form-group row">
                    <label class="col-form-label" asp-for="minpr">от</label>
                    <div class="col">
                        <input type="number" asp-for="minpr" class="form-control" value="0">
                    </div>
                    <label class="col-form-label" asp-for="maxpr">до</label>
                    <div class="col">
                        <input type="number" asp-for="maxpr" class="form-control" value="0">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Поиск" class="btn btn-default" />
                </div>
            </form>
        </div>
        <div class="col-8">
            <h5>Результат поиска</h5>
            <table class="table">
                <tr><td>Название</td><td>Действие</td><td>Плановая сумма</td><td>Реальная сумма</td><td>Процент</td><td></td></tr>
                @foreach (var i in Model.Operations)
                {
                    <tr>
                        <td>@i.Name</td>
                        <td>@i.NameAct</td>
                        <td>@i.Sum</td>
                        <td>@i.SumP</td>
                        <td>@i.Procent</td>

                        <td><a asp-action="PlanHome" asp-controller="Home" asp-route-idplan="@i.Id"></a>План</td>
                        <td><a asp-action="OperDet" asp-controller="Home" asp-route-id="@i.Id"></a>Просмотр</td>
                        <td><a asp-action="P1PHome" asp-controller="Home" asp-route-idoper="@i.Id">Совершонные</a></td>
                        @if (i.Plan.DataPeriod >= DateTime.Now && i.Plan.Data <= DateTime.Now)
                        {
                            <td><a asp-action="OperDel" asp-controller="Home" asp-route-id="@i.Id"></a>Удалить</td>
                            <td><a asp-action="OperRed" asp-controller="Home" asp-route-id="@i.Id"></a>Редактировать</td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
