@model HB5.VM.HomeVM.PlanHomeVM
@{
    ViewBag.Title = "Планы";
}
<div class="container">
    <div class="row">

        <div class="col-4">
            <form asp-action="PlanHome" asp-controller="Home">
                <h5>Поиск</h5>
                <div class="validation" asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Название</label>
                    <input type="text" asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Процент</label>
                </div>
                <div class="form-group row">
                    <label class="col-form-label" asp-for="minpr">от</label>
                    <div class="col">
                        <input type="number" asp-for="minpr" class="form-control" max="100000000" min="0">
                    </div>
                    <label class="col-form-label" asp-for="maxpr">до</label>
                    <div class="col">
                        <input type="number" asp-for="maxpr" class="form-control" max="100000000" min="0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Доход</label>
                </div>
                <div class="form-group row">
                    <label class="col-form-label" asp-for="mindoch">от</label>
                    <div class="col">
                        <input type="number" asp-for="mindoch" class="form-control" max="100000000" min="0">
                    </div>
                    <label class="col-form-label" asp-for="maxdoch">до</label>
                    <div class="col">
                        <input type="number" asp-for="maxdoch" class="form-control" max="100000000" min="0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Расход</label>
                </div>
                <div class="form-group row">
                    <label class="col-form-label" asp-for="minras">от</label>
                    <div class="col">
                        <input type="number" asp-for="minras" class="form-control" max="100000000" min="0">
                    </div>
                    <label class="col-form-label" asp-for="maxras">до</label>
                    <div class="col">
                        <input type="number" asp-for="maxras" class="form-control" max="100000000" min="0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Итог</label>
                </div>
                <div class="form-group row">
                    <label class="col-form-label" asp-for="minit">от</label>
                    <div class="col">
                        <input type="number" asp-for="minit" class="form-control" max="100000000" min="0">
                    </div>
                    <label class="col-form-label" asp-for="maxit">до</label>
                    <div class="col">
                        <input type="number" asp-for="maxit" class="form-control" max="100000000" min="0">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Период</label>
                </div>
                <div class="form-group row">
                    <label class="col-form-label" asp-for="Data">от</label>
                    <div class="col-5">
                        <input type="datetime-local" asp-for="Data" class="form-control">
                    </div>
                    <label class="col-form-label" asp-for="DataPer">до</label>
                    <div class="col-5">
                        <input type="datetime-local" asp-for="DataPer" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Поиск" class="btn btn-default" />
                </div>
            </form>
        </div>
        <div class="col-8">
            <div><a asp-controller="Add" asp-action="PlanAdd">Добавить план</a></div>
            <h5>Планы</h5>
            <table class="table">
                <tr><td>Название</td><td>Дата начала</td><td>Дата конца</td><td>Процент</td><td></td><td></td><td></td><td></td></tr>
                @foreach (var i in Model.pl)
                {
                    <tr>
                        <td>@i.Name</td>
                        <td>@i.Data</td>
                        <td>@i.DataPeriod</td>
                        <td>@i.Procent</td>
                        <td><a asp-action="PlanDet" asp-controller="Det" asp-route-id="@i.Id">Просмотр</a></td>
                        <td><a asp-action="OperHome" asp-controller="Home" asp-route-idplan="@i.Id">Операции</a></td>
   
                        @if (i.Data>DateTime.Now)
                        {
                            <td><a asp-action="PlanDel" asp-controller="Del" asp-route-id="@i.Id">Удалить</a></td>
                            <td><a asp-action="PlanRed" asp-controller="Red" asp-route-id="@i.Id">Редактировать</a></td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
</div>